/* barra de menu -------------------------------------------------*/

.navbar {
    background-color: #b88787;
    overflow: hidden;
    display: flex; 
    align-items: center; 
    height: 60px;
    padding: 0 20px; 
    
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    display: inline-block;
    margin: 0 10px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px; 
   
}

.search-box {
    display: flex;
    align-items: center;
    margin-right: auto;
    
    
}

.search-box input {
    padding: 8px; 
    border: 15px ;
    border-radius: 5px;
    margin-right: 5px;
}

.search-btn {
    padding: 8px 15px; 
    background-color: #252424;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.titulo1 {
    text-align: center;
    font-size: 2em; 
    font-weight: bold; /* Hace el texto en negrita */
    color: #262626; 
}

.titulo2 {
    text-align: center; 
    color: #ff3358d0; 
}


/* Para el activos fijos del menu */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
