body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f5f5f5; 
}
    
.uno {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 250px; 
    margin-right: 20px;
}

.titulo {
    text-align: center;
    color: rgb(69, 120, 59);
    font-family:Georgia, 'Times New Roman', Times, serif
}

h2 {
    color: #000000;
    text-align: center;
}

.MP {
    background-color: #d8c4c4; 
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.NuevoMP {
    background-color: #c4d8d8; 
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

table, th, td {
    border: 1px solid #afafaf;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

label, input, select, textarea {
    display: block;
    margin-bottom: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #000000;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #84687f;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #518360;
}

