body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #abc7ba;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 50px;
}

h1 {
    color: #ae5469;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    padding: 10px 20px;
    background-color: #9c9c9c;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
  
  
  footer {
    background-color: #888888; 
    color: #fff; 
    text-align: center;
    padding: 5px; 
    position: fixed; 
    width: 100%;
    bottom: 0;
    font-size: 14px; 
  }
  
  
